.main-content {
    color: #eff3f8;
    background-color: #30313b;
}

a {
    color: #a6bdd8;
}

.error {
    color: #ff0037;
}

pre.block {
    margin-left: 4ex;
}

code {
    color: inherit;
}

blockquote {
    border-left: 4px solid #aaaaff;
    padding-left: 15px;
    background-color: hsl(232, 11%, 15%);
}

block {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
}

block::before {
    content: "";
    border-top: 1px solid #60626a;
    margin-bottom: 1em;
}

@media (min-width: 1500px) {
    block {
        grid-template-columns: 1fr 1fr;
    }

    block>h2,
    block>blockquote,
    block::before {
        grid-column: span 2;
    }
}

.html {
    border-radius: 5px;
    background-color: hsl(0, 0%, 60%);
    color: hsl(0, 0%, 10%);
}

.js {
    padding: 3px 5px;
    border-radius: 5px;
    background-color: hsl(272, 100%, 90%);
}
.js, .js a {
    color: hsl(272, 100%, 20%);
}

.pow {
    padding: 3px 5px;
    border-radius: 7px;
    background-color: hsl(0, 60%, 20%);
    color: hsl(0, 100%, 90%);
}

.attr {
    padding: 3px 5px;
    border-radius: 5px;
    background-color: hsl(195, 100%, 80%);
    color: hsl(195, 100%, 10%);
}

.value {
    padding: 3px 5px;
    border-radius: 5px;
    background-color: hsl(120, 60%, 75%);
    color: hsl(120, 100%, 10%);
    font-style: italic;
}

.expr {
    padding: 3px 5px;
    border-radius: 5px;
    background-color: hsl(39, 100%, 90%);
    font-style: italic;
}
.expr, .expr a {
    color: hsl(39, 100%, 10%);
}

.solid {
    background-color: #6279cb;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.example {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    margin-bottom: 2rem;
}

div.example.nogrid {
    grid-template-columns: auto;
}

div.example pre {
    border: 1px solid #777777;
    background-color: #22232a;
    padding: 10px;
    margin: 0;
    border-radius: 8px;
}

div.example code {
    margin-bottom: 0;
    height: 100%;
}

div.example pre.js {
    grid-column: span 2;
}

pre.live-example,
pre.example-code,
pre.example-data {
    -webkit-user-modify: read-write;
    position: relative;
}

pre.live-example:hover,
pre.example-code:hover,
pre.example-data:hover {
    cursor: text;
    border-color: white;
}

pre.example-data {
    grid-column: span 2;
}

.element {
    position: relative;
}

pre.live-example::before,
pre.example-code::before,
pre.example-data::before {
    font-family: 'Font Awesome 6 Free';
    content: '\f304';
    font-weight: 900;
    color: #ffffff30;
    position: absolute;
    z-index: 0;
    right: 8px;
    bottom: 3px;
    font-size: 1.5rem;
}